@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap');

main{
	display: flex;
	flex-wrap: wrap;
}

header{
	display: flex;
	flex-wrap: wrap;
}

body{
	display: flex;
	flex-wrap: wrap;
}

/* Main picture*/
.main-picture{
	background-image: url(Images/homepage1.jpg);
  position: relative;
  height: 350px;
   opacity: 0.7;
	 display: flex;
 	flex-wrap: wrap;
	 max-width: 100%;
}

.container{
	position: relative;
	text-align:justify;
}

/*Heading text*/
.textblock{
	position: absolute;
	bottom: -50px;
	left: 250px;
	max-width: 700px;
	height: 300px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Carousel navigation*/
.carousel-item img {
  width: 700px;
  height: 300px;

}
.carousel-item img:hover{
  opacity: 0.6;
}
#slideOne{
	display: flex;
	flex-wrap: wrap;
  position: absolute;
 bottom: 200px;
 left: -40px;
}
#slideTwo{
  position: absolute;
  bottom:6px;
 left: 190px;
}
#slideThree{
  position: absolute;
 bottom: 210px;
 left: -40px;
}
#slideFour{
  position: absolute;
 bottom: 210px;
 left: -40px;
}

/* Introduction paragraph in the HomePage*/
#intro {
  text-align:justify;
}

footer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: black;
  font-size: 12px;

/*Map features including a search box*/
}
#map{
  height: 400px;
  width: 960px;
  margin: auto;
  margin-bottom: 45px;
}
#myId{
 list-style-type: none;
}
.map_box{
	position: relative;

}
.filter-group {
    font: 12px/20px 'Lora', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    margin-top: -445px;
    margin-left: 80px;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type=checkbox] {
    display: none;
}

.filter-group input[type=checkbox] + label {
    background-color: #9268B3;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
    background-color: #9268B3;
    text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
    background-color: #9268B3;
}

.filter-group input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

/*Centering the text */
main{
      text-align:justify;
}

/*Appliying typing effect for the heading*/
.typewriter h1 {
	display: flex;
	flex-wrap: wrap;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	  animation: typing 10s steps(40, end), blink .5s step-end infinite;
    white-space: nowrap;
    font-weight: 300;
    border-right: 1px solid orange;
    box-sizing: border-box;
    padding-bottom: 3.5px;
}
.typewriter h1:nth-child(1) {
  width: 12.4em;
  -webkit-animation: type 4s steps(17, end);
  animation: type 4s steps(17, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  width: 8.8em;
  opacity: 0;
  -webkit-animation: type2 4s steps(23, end);
  animation: type2 4s steps(23, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
/*Facebook feed*/
#facebook{
display: block;
text-align: center;
border-radius: 25px;

}

body {
  font-family: 'Lora', serif;
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
@media screen and (min-width: 400px) {
  header h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 300px) {
  header h1 {
    font-size: 10px;
  }
}
